.container {

    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    max-height: 550px;
    min-height: 500px;
    overflow: auto;

}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    border: 1px solid grey;
    border-radius: 5px;
    word-break: break-word;
}

form {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}


.contentform input {
    margin-left: 5px;
    width: 65%;
    font-size: 1.24rem;
    border: 1px solid grey;
    border-radius: 5px;
}

button {
width: 40px;
height: 40px;
padding: 0;
border: none;
background-color: inherit;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}


.icons button {
    margin-right: 5px;
}

.deleteitembtn {
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 5px;
}

.deleteitembtn:hover {
    background-color: lightgrey;
}

.deletebtn {
    width: 35px;
    height: 45px;
    font-size: 1rem;
    align-self: flex-end;
    background-color: inherit;
    font-weight: 600;
}


.listitem {
    color: black;
    padding: 0.75rem;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    width: 75%;
    margin-bottom: 12px;
    border: 1px solid lightgrey;
    background-color: white;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listitem_active {
    color: white;
    background-color: var(--primary-9);
    border: 1px solid black;
    padding: 0.75rem;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    width: 75%;
    margin-bottom: 12px;

}



.listitem:hover {
    cursor: pointer;
    border: 1px solid grey
}

.title {
    display: flex;
    align-items: center;
}

.title input {
    margin: 20px 0;
    height: 19px;
    width: 175px;
}


.titleActive {
    display: block
}

.titleInactive {
display: none;
}

.checkicon {
    margin-right: 5px;
}

.modal {
    display: none;
}

.active_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    height: 100%
}

.modal_content {
background-color: white;
border: 1px solid lightgrey;
padding: 50px;
border-radius: 5px;
z-index: 2;


}

.modal_content button {
    background-color: var(--primary-3);
    border-radius: 6px;
    margin-right: 15px;
    margin-bottom: 15px;
    
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.modal_content button:hover {
    background-color: var(--primary-4);
}


/* larger portrait phones, 500px - 600px */
 @media only screen and (max-width: 600px) {

.modal_content {
    padding: 30px;
}

 }


 /* portrait phones, 500px and down */
 @media only screen and (max-width: 500px) {

    .container {
        width: 275px;
    }
   
 }
