.container {
    border: 1px solid grey;
    border-radius: 5px;
    height: 500px;
    width: 250px;
    margin-right: 20px;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    border: 1px solid grey;    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
}

.active {
    border: none;
    color: green;
    border: 1px solid green;

    padding: 0.5rem 0.25rem;

}

.listitem {
    color: black;
    border: 1px solid black;
    padding: 0.5rem 0.25rem;

}

.listitem:hover {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title input {
    margin: 20px 0;
    height: 25px;
}

.title h2 {
    margin-right: 5px;
}

.titleActive {
    display: block
}

.titleInactive {
display: none;
}